@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
  --accent: #bd2a2a;
  --accentDark: #8d1f1f;
  --greenLight: #2abd67;
  --greenDark: #1f8d4d;
  --bgColor1: #373c3f;
  --bgColor2: #2f3437;
  --bgColor3: #1a1c1d;
  --textColor: #ffffff;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lexend', sans-serif;
  color: var(--textColor);
  background-color: var(--bgColor2);
  height: 100%;
}

header {
  background-color: var(--bgColor3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
  padding: 0.31em 0.5em;
  border-bottom: solid 2px var(--accent);
}

.menu-icon {
  padding: 0.2em;
  cursor: pointer;
}

.menu-icon:hover {
  background-color: var(--accent);
  border-radius: 5px;
  padding: 0.2em;
}

.menu-icon,
.star,
.more-icon {
  transform: scale(1);
}

.logo-section {
  display: flex;
  justify-content: end;
  align-items: center;
}

#header-logo {
  max-width: 2.5rem;
}

.header-title-text {
  color: var(--accent);
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  padding: 0.9em;
}

.todo-list-title {
  background-color: var(--accent);
  border-radius: 5px;
  font-size: 2rem;
  padding: 0.7em;
  word-break: break-all;
  white-space: pre-wrap;
}

.todo-list-items {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.item:last-child {
  margin: 0;
}

.item,
.add-task {
  min-height: 5rem;
  background-color: var(--bgColor3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  list-style-type: none;
  border: solid 2px var(--bgColor3);
  margin-bottom: 1rem;
  padding: 0 0.2em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.item-check {
  width: 100%;
  max-width: 1.3rem;
  min-height: 1.3rem;
  border: solid 2px var(--textColor);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.5rem;
}

.check-true {
  background-image: url(./images/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: var(--accent);
  border: solid 2px var(--accent);
}

.text-true {
  text-decoration: line-through var(--accent) 2px;
}

.details-column {
  flex: 1;
  min-width: 5rem;
}

.item-description {
  color: #e9e9e9;
  font-size: 0.7rem;
}

.item-date {
  background-color: var(--accent);
  border: solid 2px var(--accent);
  padding: 0.2em;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-left: 0.2rem;
}

.star,
.item .more-icon {
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0.2rem;
}

.star-true {
  color: #fec810;
}

nav {
  background-color: #1a1c1dde;
  padding: 1.5em;
}

.home-title,
.project-title {
  margin-top: 0;
  padding-bottom: 0.2em;
  border-bottom: solid 2px var(--textColor);
}

.home-links,
.project-links {
  margin: 1rem 0;
  font-size: 1rem;
}

.home-link,
.project-link,
.add-project,
.add-project-form,
.rename-project-form,
.add-task-form,
.edit-task-form {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 5px;
}

.project-link-text {
  flex: 1;
  min-width: 10rem;
}

.project-link .more-icon {
  justify-content: flex-end;
}

.home-link:hover,
.project-link:hover,
.add-project:hover,
.add-project-form:hover,
.rename-project-form:hover {
  background-color: var(--bgColor2);
}

.active-tab {
  background-color: var(--accentDark);
}

.active-tab:hover {
  background-color: var(--accentDark);
}

.home-link-img,
.nav-icon {
  width: 1.8rem;
  margin-right: 1rem;
}

.add {
  width: 1.8rem;
}

.add-project-form,
.rename-project-form {
  cursor: default;
  align-items: initial;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-btns-input {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.project-name-input,
.task-input {
  padding: 0.5em;
  font-size: 1rem;
}

.form-btn {
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  max-width: 5rem;
  color: var(--textColor);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 800;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.form-btn + .form-btn {
  margin-left: 1.5rem;
}

#add-project-btn,
#rename-project-btn,
#add-task-btn,
#edit-task-btn {
  background-color: var(--greenLight);
  border: var(--greenLight);
}

#cancel-project-btn,
#cancel-task-btn {
  background-color: var(--accent);
  border: var(--accent);
}

.project-link,
.item {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: calc(100% + 0.3rem);
  z-index: 1;
  background-color: var(--bgColor1);
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  padding: 0.2em;
}

.dropdown-options {
  color: var(--textColor);
  background-color: var(--bgColor1);
  border: solid 2px var(--bgColor1);
  border-radius: 5px;
  padding: 0.7em;
  font-size: 1rem;
  font-weight: 800;
}

.dropdown-options:hover {
  background-color: var(--bgColor3);
}

.hidden {
  display: none;
}

.add-task {
  cursor: pointer;
  justify-content: initial;
  margin: 0;
}

.add-task .add,
.add-task .add-btn-text,
.home-link-img,
.home-link-text,
.nav-icon,
.project-link-text,
.add,
.add-btn-text {
  pointer-events: none;
}

.add-task-form,
.edit-task-form {
  background-color: var(--bgColor3);
  padding: 1.5rem;
}

.input-label,
.task-input {
  margin-bottom: 0.5rem;
}

#task-duedate-input {
  margin-bottom: 0;
}

@media (min-width: 60em) {
  .content {
    display: grid;
    grid-template-areas:
      'header header'
      'nav todolist';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    min-height: 100%;
  }

  .hidden-nav {
    grid-template-areas:
      'header header'
      'todolist todolist';
  }

  header {
    grid-area: header;
    font-size: 3rem;
  }

  nav {
    grid-area: nav;
  }

  .todo-list-container {
    grid-area: todolist;
    padding: 2em;
  }

  .more-icon,
  .menu-icon,
  .star,
  .add {
    transform: scale(1.3);
  }

  .more-icon,
  .star {
    margin-left: 1rem;
  }

  #header-logo {
    max-width: 3.5rem;
  }

  .item,
  .add-task,
  .home-links,
  .project-links {
    min-height: 7rem;
    font-size: 1.5rem;
  }

  .item-check {
    max-width: 1.5rem;
    min-height: 1.5rem;
  }

  .item-description {
    font-size: 1rem;
  }

  .item-date {
    font-size: 1.05rem;
  }
}

@media (min-width: 70em) {
  .content {
    grid-template-columns: 1fr 3.5fr;
  }
}
